
@use "utils" as *;
@use "layout/menu";
@use "layout/footer";

@import url('https://fonts.googleapis.com/css2? family= Roboto & family= Shrikhand & display=swap');

*{
    
    
    font-family : 'Roboto', sans-serif ;
    margin: 0;
    padding: 0;
}


body{
    margin: 0%;
}
header{
    img{
        margin: 0 auto;
    }
}
header, main{
    width: 100%;
}

.img-ohmyfood-top{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 65px;
        &__icon_arrow{
            text-decoration: none;
            color: black;
            justify-content: flex-start;
            position: absolute;
            left: 24px;
        }
    
}

.phrases-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-gris-clair;
    justify-content: center;
        &__top-loc{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            background: $color-gris-sombre;
            width: 100%;
            box-shadow: 0px 10px 10px -10px #666 inset;
                &__icon{
                    margin: 1rem;  
                    &__zdt{
                        border: 1px solid transparent;
                        background: transparent;
                        font-weight: bold;
                        color: black;
                        max-width: 120px;

                    }   
                }
                
        }
}


.phrases-top{
    &__text-decouverte{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.5rem;
            &__text-1{
                width: 70%;
                font-weight: bold;
                text-align: center;
                    &__text-2{
                        margin: 1rem 0 ;
                        width: 80%;
                        text-align: center; 
                    }
            }
    }
}

.btn-explore{
        display: flex;
        justify-content: center;
        border-radius: 20px;
        height: 45px;
        width: 190px;
        margin-top: 1rem;
        margin-bottom: 3rem;
        background-image: linear-gradient( $color-secondaire ,$color-primaire);
        border: $color-secondaire;
            &__text{
                align-items: center;
                border: transparent;
                background: transparent;
                color: white;
            }
}

.btn-choix-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 1rem;
        h1{  
            margin: 1rem;
            width: 100%;
            @media screen and (min-width:376px){
                text-align: center;
            }
        }
        .container-choix{
            display: flex;
            border-radius: 20px;
            margin: 0.8rem 1rem;
            height: 70px;
            justify-content: flex-start;
            align-items: center;
            width: 311px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                &__number{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    padding: 0.5rem;
                    height: 15px;
                    width: 15px;
                    text-align: center;
                    margin: -1rem;
                    background: $color-primaire;
                    color: white;
                        &__icon{
                            font-size: 25px;
                            color: #828282;
                            margin-left: 2.5rem;
                                &__text{
                                    color: black;
                                    font-weight: bold;
                                    margin-left: 1rem;
                                }
                        }
                        
                        
                }
        }   
}




.choix_restaurants{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: $color-gris-sombre;
    
        h1{
            width: 100%;
            margin: 3rem 1rem 1rem 1rem;
            @media screen and (min-width:376px){
                text-align: center;
            }
        }
        .cards_container{
            display: flex;
            flex-direction: column;
            margin: 1rem 1rem;
            border-radius: 20px;
            background-color: white;
            width: 340px;
            height: 244px;
            @media screen and (min-width:992px){
                width: 440px;
                height: 344px;
            }
                a{
                    text-decoration: none;
                    color: black;
                }
                &__images_restaurant{
                    width: 340px;
                    height: 170px;/*150*/
                    object-fit: cover;
                    border-radius: 20px 20px 0px 0px;
                    @media screen and (min-width:992px){
                        width: 440px;
                        height: 270px;
                    }
                        &__description{
                            display: flex;
                            justify-content: space-between;
                            margin: 0.8rem;
                        }
        
                }
                
        }
        .cards_container:last-child{
            margin-bottom: 4rem;
        }
        
}





/*Pages Restaurants*/

.top_page_restaurants{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
        &__img_container_secondary{
            display: flex;
               &__images_restaurant_secondary{
                   width: 100%;
                   height: 150%; 
               } 
        }
        .title_restaurants{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem;
            background-color: $color-gris-clair;
            border-radius: 2rem 2rem 0 0;
            position: absolute;
            top: 250px;
            width: 327px;
            font-size: 23px;
                h3{
                    font-family : 'Shrikhand', cursif ;
                }
        }  
}

/*
.title_restaurants{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    z-index: 1;
    color: black;
    
}*/

/*Entrées, Plats, Desserts*/
.select_menu{
    display: flex;
    flex-direction: column;
    background-color: $color-gris-clair;
        &__title{
            margin: 1rem 1rem 0 1rem;
            border-bottom: 4px solid #99e2d0;
            padding: 0.5rem 0;
            width: 50px;
        }     
}

/*
.title_restaurants{
    display: flex;
    border-radius: 2rem 0 2rem 0;
    background-color: $color-gris-clair;
    width: 100%;
    position: absolute;
    top: 250px;
}*/

.container_enter{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    height: 70px;
    margin: 1rem;
    display: flex;
    background-color: #fff;
        &__first_container{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin:  0.5rem 0.5rem;
            align-items: center;
                &__price{
                    border: 1px solid transparent;
                    &:hover{
                        display: none;
                    }
                }  
        }
        .valid{
            display: flex;
            justify-content: center;
            align-items: center;
            color: transparent;
            font-size: 30px;
            width: 0px;
            &:hover{
                display: flex;
                background-color: $color-primaire;
                color: green;
                width: 70px;
                border-radius: 0 20px 20px 0;
            }
        }
}
/*End-Entrées, Plats, Desserts*/

