@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Roboto & family= Shrikhand & display=swap");
.loadcontent {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF80;
  animation: loadinger 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.loading {
  border: 7px solid #9356DC;
  border-top: 7px solid #99E2D0;
  border-radius: 50%;
  width: 100px;
  height: 70px;
  animation: loading 2s ease-in-out;
  animation-iteration-count: 3;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(540deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes loadinger {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes checked_menu {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*Entrées, Plats, Desserts*/
.select_menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
.select_menu__title {
  margin: 1rem 1rem 0 1rem;
  padding: 0.5rem 0;
  width: 50px;
}
.select_menu__title__sousligne {
  width: 50px;
  height: 4px;
  color: #99e2d0;
  background: #99e2d0;
  margin-left: 1rem;
  border: transparent;
}

.container_enter {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  height: 70px;
  margin: 1rem;
  display: flex;
  background-color: #fff;
  animation: fadein 2s;
}
.container_enter:hover .valid {
  display: flex;
  background-color: #99E2D0;
  opacity: 1;
  color: #fff;
  width: 5rem;
  border-radius: 0 20px 20px 0;
}
.container_enter:hover i {
  animation: checked_menu 1s;
}
.container_enter__first_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0.5rem;
  align-items: center;
  font-size: 17px;
}
.container_enter__first_container__descrp {
  text-overflow: ellipsis;
}
.container_enter__first_container__descrp__price {
  border: 1px solid transparent;
}
.container_enter__first_container__descrp__price:hover {
  display: none;
}
.container_enter .valid {
  display: flex;
  justify-content: center;
  opacity: 0;
  align-items: center;
  font-size: 30px;
  width: 0;
  transition: width 0.5s ease-in-out;
}

/*
.footer_liens{
    display: flex;
    flex-direction: column;
    background-color: #353535;

    @media screen and (min-width:992px){
        flex-direction: row;
    }
        img{
            width: 115px;
            margin: 1.5rem 1rem;
            color: white;
        }
            a{
                text-decoration: none;
                color: white;
                margin: 0.5rem 1rem;

                .partenaire{
                    margin: 0.5rem;
                }
        }

}*/
.footer_liens {
  display: flex;
  flex-direction: column;
  background-color: #353535;
}
.footer_liens img {
  width: 115px;
  margin: 1.5rem 1rem;
  color: white;
}
.footer_liens a {
  text-decoration: none;
  color: white;
  margin: 0.5rem 1rem;
}
.footer_liens a .restaurant {
  margin-left: 1rem;
}
.footer_liens a .partenaire {
  margin-left: 0.5rem;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0%;
}

header img {
  margin: 0 auto;
}

header, main {
  width: 100%;
}

.img-ohmyfood-top {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 65px;
}
.img-ohmyfood-top__icon_arrow {
  text-decoration: none;
  color: black;
  justify-content: flex-start;
  position: absolute;
  left: 24px;
}

.phrases-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  justify-content: center;
}
.phrases-top__top-loc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: #eaeaea;
  width: 100%;
  box-shadow: 0px 10px 10px -10px #666 inset;
}
.phrases-top__top-loc__icon {
  margin: 1rem;
}
.phrases-top__top-loc__icon__zdt {
  border: 1px solid transparent;
  background: transparent;
  font-weight: bold;
  color: black;
  max-width: 120px;
}

.phrases-top__text-decouverte {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}
.phrases-top__text-decouverte__text-1 {
  width: 70%;
  font-weight: bold;
  text-align: center;
}
.phrases-top__text-decouverte__text-1__text-2 {
  margin: 1rem 0;
  width: 80%;
  text-align: center;
}

.btn-explore {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  height: 45px;
  width: 190px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: #FF79DA;
  cursor: pointer;
}
.btn-explore__text {
  align-items: center;
  border: transparent;
  background: transparent;
  color: white;
}

.btn-choix-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 1rem;
}
.btn-choix-top h1 {
  margin: 1rem;
  width: 100%;
}
@media screen and (min-width: 376px) {
  .btn-choix-top h1 {
    text-align: center;
  }
}
.btn-choix-top .container-choix {
  display: flex;
  border-radius: 20px;
  margin: 0.8rem 1rem;
  height: 70px;
  justify-content: flex-start;
  align-items: center;
  width: 311px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-choix-top .container-choix:hover {
  background-color: #f5edff;
  cursor: pointer;
}
.btn-choix-top .container-choix__number {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.5rem;
  height: 15px;
  width: 15px;
  text-align: center;
  margin: -1rem;
  background: #9356DC;
  color: white;
}
.btn-choix-top .container-choix__number__icon {
  font-size: 25px;
  color: #828282;
  margin-left: 2.5rem;
}
.btn-choix-top .container-choix__number__icon:hover {
  color: #9356DC;
}
.btn-choix-top .container-choix__number__icon__text {
  color: black;
  font-weight: bold;
  margin-left: 1rem;
}

.choix_restaurants {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #eaeaea;
}
.choix_restaurants h1 {
  width: 100%;
  margin: 3rem 1rem 1rem 1rem;
}
@media screen and (min-width: 376px) {
  .choix_restaurants h1 {
    text-align: center;
  }
}
.choix_restaurants .cards_container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  border-radius: 20px;
  background-color: white;
  width: 340px;
  height: 244px;
}
@media screen and (min-width: 992px) {
  .choix_restaurants .cards_container {
    width: 440px;
    height: 344px;
  }
}
@media screen and (min-width: 1416px) {
  .choix_restaurants .cards_container {
    width: 640px;
    height: 544px;
  }
}
.choix_restaurants .cards_container a {
  text-decoration: none;
  color: black;
}
.choix_restaurants .cards_container__button_new {
  position: absolute;
  width: 75px;
  /* left: 425px; */
  background-color: #99E2D0;
  border-radius: 0.2rem;
}
.choix_restaurants .cards_container__button_new__images_restaurant {
  width: 340px;
  height: 170px;
  /*150*/
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
@media screen and (min-width: 992px) {
  .choix_restaurants .cards_container__button_new__images_restaurant {
    width: 440px;
    height: 270px;
  }
}
@media screen and (min-width: 1416px) {
  .choix_restaurants .cards_container__button_new__images_restaurant {
    width: 640px;
    height: 472px;
  }
}
.choix_restaurants .cards_container__button_new__images_restaurant__description {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem;
}
.choix_restaurants .cards_container:last-child {
  margin-bottom: 4rem;
}

/*Top Pages Restaurants pages secondaires*/
.top_page_restaurants {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
}
.top_page_restaurants__img_container_secondary {
  display: flex;
}
.top_page_restaurants__img_container_secondary__images_restaurant_secondary {
  width: 100%;
  height: calc(1rem * 15);
  object-fit: cover;
}
.top_page_restaurants .title_restaurants {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 230px;
  font-size: 23px;
  z-index: 0;
}
.top_page_restaurants .title_restaurants h3 {
  font-family: "Shrikhand", cursif;
}

/*# sourceMappingURL=style.css.map */
