@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Roboto & family= Shrikhand & display=swap");
.footer_liens {
  display: flex;
  flex-direction: column;
  background-color: #353535;
}
.footer_liens img {
  width: 115px;
  margin: 1.5rem 1rem;
  color: white;
}
.footer_liens a {
  text-decoration: none;
  color: white;
  margin: 0.5rem 1rem;
}
.footer_liens a span {
  margin: 1rem;
}

* {
  font-family: "Shrikhand", cursif;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0%;
}

header, main {
  width: 100%;
}

.img-ohmyfood-top {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 65px;
}
.img-ohmyfood-top__icon_arrow {
  text-decoration: none;
  color: black;
  justify-content: flex-start;
}

.phrases-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  justify-content: center;
}
.phrases-top__top-loc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: #eaeaea;
  width: 100%;
  box-shadow: 0px 10px 10px -10px #666 inset;
}
.phrases-top__top-loc__icon {
  margin: 1rem;
}
.phrases-top__top-loc__icon__zdt {
  border: 1px solid transparent;
  background: transparent;
  font-weight: bold;
  color: black;
}

.phrases-top__text-decouverte {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;
}
.phrases-top__text-decouverte__text-1 {
  width: 70%;
  font-weight: bold;
  text-align: center;
}
.phrases-top__text-decouverte__text-1__text-2 {
  margin: 1rem 0;
  width: 80%;
  text-align: center;
}

.btn-explore {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  height: 45px;
  width: 190px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: #FF79DA;
}
.btn-explore__text {
  align-items: center;
  border: transparent;
  background: transparent;
  color: white;
}

.btn-choix-top {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 1rem;
}
.btn-choix-top h1 {
  margin: 1rem;
  width: 100%;
}

.container-choix {
  display: flex;
  border-radius: 20px;
  margin: 0.8rem 1rem;
  height: 70px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container-choix__number {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.5rem;
  height: 15px;
  width: 15px;
  text-align: center;
  margin: -1rem;
  background: #9356DC;
  color: white;
}
.container-choix__number__icon {
  font-size: 25px;
  color: #828282;
  margin-left: 2.5rem;
}
.container-choix__number__icon__text {
  color: black;
  font-weight: bold;
  margin-left: 1rem;
}

.choix_restaurants {
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  background: #eaeaea;
}
.choix_restaurants h1 {
  margin: 3rem 1rem 1rem 1rem;
}

.cards_container {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  border-radius: 20px;
  background-color: white;
  width: 340px;
  height: 280px;
  /*220*/
}
.cards_container a {
  text-decoration: none;
  color: black;
}
.cards_container__images_restaurant {
  width: 340px;
  height: 200px;
  /*150*/
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.cards_container__images_restaurant__description {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem;
}

/*Pages Restaurants*/
.title_restaurants {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  z-index: 1;
  color: blue;
}

/*Entrées, Plats, Desserts*/
.select_menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
}
.select_menu__title {
  margin: 1rem 1rem 0 1rem;
}

.container_enter {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  height: 70px;
  margin: 1rem;
  display: flex;
  background-color: #fff;
}
.container_enter__first_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 9px 0;
  align-items: center;
}
.container_enter__first_container__decrp {
  border: 1px solid transparent;
}
.container_enter__first_container__decrp__price {
  border: 1px solid transparent;
}

/*End-Entrées, Plats, Desserts*/
.top_page_restaurants {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
}
.top_page_restaurants__img_container_secondary {
  display: flex;
}
.top_page_restaurants__img_container_secondary__images_restaurant_secondary {
  width: 100%;
  height: 150%;
}

/*# sourceMappingURL=style.css.map */
