$color-primaire:#9356DC;
$color-secondaire:#FF79DA;
$color-tertiaire:#99E2D0;
$color-gris-sombre:#eaeaea;
$color-gris-clair:#f6f6f6;

header, main{
    width: 100%;
}

.img-ohmyfood-top{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 65px;
    
}

.phrases-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color-gris-clair;
        .top-loc{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            background: $color-gris-sombre;
            width: 100%;
                p{
                    margin-left: 1.5rem;
                }
        }
}

.text-decouverte{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
        .text-1{
            width: 70%;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
                
        }
}

.text-decouverte{
    .text-2{
        margin: 1rem 0 ;
        width: 80%;
        text-align: center;
        
    }
}

.btn-explore{
    button{
        border-radius: 20px;
        height: 40px;
        width: 185px;
        margin-top: 1rem;
        margin-bottom: 3rem;
        background: $color-primaire;
        border: $color-secondaire;
            span{
                color: white;
            }
    }
}

.btn-choix-top{
    display: flex;
    flex-direction: column;
    margin: 2rem;
        h1{
            margin: 2rem 0rem;
            
        }
}

.container__choix{
    border: 1px solid black;
    border-radius: 20px;
    height: 55px;
    width: 300px;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 0.5rem;
    background: $color-gris-clair;
        .number{
            padding: 10px;
            border-radius: 50%;
            margin-right: 1rem;
            color: white;
            background-color: #9356DC;
                
        }

}





.cards_restaurants{
    display: flex;
    flex-wrap: wrap;
    background: $color-gris-clair;
        h1{
            margin-left: 1rem;
            margin-top: 4rem;
        }

}

.cards_container{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        border: 1px solid transparent;
        border-radius: 20px;
        background-color: white;
        width: 340px;
        height: 220px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
            a{
                text-decoration: none;
                color: black;
                img{
                    width: 340px;
                    height: 150px;
                    object-fit: cover;
                    border-radius: 20px 20px 0px 0px;
                }
            }
}

.description{
    display: flex;
    justify-content: space-between;
        .container_description{
            flex-direction: column;
            margin: 0.6rem;
                .container_heart{
                font-size: 25px;
                color: red;
                border: 1px solid black;
            }
        }
        
}



    

