@use "../utils/" as *;


/*Entrées, Plats, Desserts*/
.select_menu{
    display: flex;
    flex-direction: column;
    background-color: $color-gris-clair;
        &__title{
            padding: 1rem 0 0 1rem;
            z-index: 100;
            background-color:inherit;
            &__sousligne{
                width: 50px;
                height: 4px;
                color: #99e2d0;
                background: #99e2d0;
                margin-left: 1rem;
                border: transparent;
            }
        }     
}

.container_enter{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    height: 70px;
    margin: 1rem;
    display: flex;
    background-color: #fff;
    animation: slide-in-top 0.75s ease-out;
    cursor: pointer;
    
    &:hover .valid{
        display: flex;
        background-color: $color-tertiaire;
        opacity: 1 ;
        color: #fff;
        width: 5rem;
        border-radius: 0 20px 20px 0;
        cursor: pointer;
    }
    &:hover i{
        animation: checked_menu 1s ;
    }
    &__first_container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin:  0.5rem 1em;
        align-items: center;
        font-size: 17px;
        overflow: auto;
        &__decrp{
            white-space: nowrap;
            overflow: hidden;
            h4{
                font-size: 15.5px;
            }
            p{
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }   
    }
    .valid{
        display: flex;
        justify-content: center;
        opacity: 0;
        align-items: center;
        font-size: 30px;
        width: 0;
        transition: width 1s ease-in-out;
        

    }
}