.footer_liens{
    display: flex;
    flex-direction: column;
    background-color: #353535;
        img{
            width: 115px;
            margin: 1.5rem 1rem;
            color: white;
        }
            a{
                text-decoration: none;
                color: white;
                margin: 0.5rem 1rem;
                    span{
                    margin: 1rem;
                }
        }
}

